@import './variables';

/* responsive */


@media screen and (min-width: 565px) {

    .banner {
        height: 500px;
    }

    .comment {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #image-faq {
        padding: 0 0
    }

    .container-shrink {
        margin: 0 auto;
        width: 50%;
    }


}

@media screen and (max-width: 668px) {

    #menu {
        display: none;
    }
}

@media screen and (min-width: 767px) {

    .card-item {
        flex: 0 0 calc(30% - 10px);
        max-width: calc(30% - 10px);
    }
}

@media screen and (min-width: 667px) {

    #btn-menu {
        display: none;
    }

    #menu {
        display: flex;
    }
}

@media screen and (max-width: 768px) {

    .active {
        display: block;
    }

    .display {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    .content-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .border-icon {
        border-right: 1px solid $bg-color;
        border-left: 1px solid $bg-color;
    }

    .box-container {
        width: 90%;
        margin: 0 auto;
        padding: 1.5rem;
    }
}
